html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E5EB;
    height: 90px;
    border: 1px solid #666f;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* rooms */
.room{
    margin-top: 130px;
}

.inner__room{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.place{

    list-style: none;
    min-width: 200px;
    min-height: 230px;
    padding: 40px 0px;
    margin:0px 30px 20px 0px ;
    border: 1px solid #000;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.empty__room{
    list-style: none;
    padding-top: 60px;
}

.place__free{
background-color: #37E82C;
}

.place__busy{
    background-color: #E82E2C;
}

.block__room{
    position: relative;
    margin-bottom: 50px;
}



.floor{
position: absolute;
left: 0;
}

/* modal BusyPlace */

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__window{
      position: relative;
      background-color: #E6E5EB;
      width: 600px;
      height: 450px;
      padding: 30px;
  }

  .modal__btn button{
      min-width: 150px;
      min-height: 50px;
  }

  .modal__header{
      text-align: center;
      margin-bottom: 20px;
  }

  .modal__footer{
      display: flex;
      justify-content: center;
      margin-top: 40px;
  }

  .modal__btn{
      margin: 15px 0px 0px 20px;
  }

  .modal__exit{
      position: absolute;
      padding: 5px;
      border: 1px solid black;
      right: 15px;
      top: 15px;
      background-color: #fff;
  }

  .modal__warning {
      color: red;
      padding-top:10px ;
  }

  .modal__body label {
      margin-right: 40px ;
  }
  
  .modal__dates{
      margin-top: 10px;
  }

  .modal__dates input{
    width: 25px;
  }

  .modal__dates header {
      margin-bottom: 10px;
  }

  .modal__dates_day_month{
      display: flex;
  }

  .modal__dates_day_month span{
      padding: 7px;
  }
  .label_year{
    margin-left : 35px;
  }

  .year label {
      margin:0px 0px 0px 25px;
  }

  /* modal change date */
 
  .modal__change_dates input{
    width:35px
  }
  .modal__change_dates_items {
    display: flex;
    justify-content:center;
    position: relative;
  }

  .modal__change_dates_items span{
   padding: 15px;
  }

  .modal__change_dates_items_year{
      margin-left: 20px;
      position: relative;
  }

  .modal__change_dates_items_year::before{
      content: "20";
      position: absolute;
      left:0;
      bottom:25%;
  }

  .modal__change_dates_items_room{
    visibility: hidden;
  }



  /* setVisibleWindow */

  .successWindow{
      position: absolute;
      top: 150px;
      right: 100px;
      color: green;
      font-size: 25px;
  }

  /* admin */
  .admin__head{
      position : relative;
  }

  .admin__no_auth input{
   padding : 5px 5px 5px 20px;
   width: 150px
  }

  .admin__no_auth div{
      display: flex;
      justify-content: space-between
  }

  .admin__no_auth label{
    padding-right: 5px;
}

  .admin__no_auth{
    margin: 5px;
  }

  .admin__no_auth_btn{
      margin-left: 50%;
  }

  .admin__no_auth_error{
      color: red;
      position: absolute;
      left: -25%;
  }