html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.container {
    width: 950px;
    margin: 0 auto;
}

/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E5EB;
    height: 80px;
    border: 1px solid #666f;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* rooms */
.room{
    margin-top: 130px;
}

.inner__room{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.place{

    list-style: none;
    min-width: 150px;
    padding: 40px 0px;
    margin:0px 30px 20px 0px ;
    border: 1px solid #000;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.place__free{
background-color: #37E82C;
}

.place__busy{
    background-color: #E82E2C;
}

.block__room{
    position: relative;
    margin-bottom: 50px;
}

.floor{
position: absolute;
left: 0;
}

/* modal */

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__window{
      position: relative;
      background-color: #E6E5EB;
      width: 400px;
      height: 300px;
      padding: 30px;
  }

  .modal__btn button{
      min-width: 150px;
      min-height: 50px;
  }

  .modal__header{
      text-align: center;
      margin-bottom: 20px;
  }

  .modal__footer{
      display: flex;
      justify-content: center;
      margin-top: 40px;
  }

  .modal__btn{
      margin: 15px 0px 0px 20px;
  }

  .modal__exit{
      position: absolute;
      padding: 5px;
      border: 1px solid black;
      right: 15px;
      top: 15px;
      background-color: #fff;
  }
